{
	"parser": "@babel/eslint-parser",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"extends": ["eslint:recommended", "google"],
	"rules": {
		"semi": "off",
		"comma-dangle":"off",
		"require-jsdoc":"off"
	}
}
